# Azure Database for MySQL 接続情報
# このファイルを .env にコピーして使用してください
# .env ファイルは .gitignore に追加してください

DB_HOST=rdbs-002-gen10-step3-2-oshima5.mysql.database.azure.com
DB_DATABASE=kondo2-pos
DB_USER=tech0gen10student
DB_PASSWORD=vY7JZNfU
DB_PORT=3306
