<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python311x64\python.exe|D:\home\site\wwwroot\startup.sh" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <add key="WSGI_HANDLER" value="main.app"/>
  </appSettings>
</configuration>

